<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://firstapp-guru.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f4048c16-c484-406b-9986-109ca301fd62/resourceGroups/FirstApp-Guru/providers/Microsoft.Web/sites/FirstApp-Guru</ResourceId>
    <UserName>$FirstApp-Guru</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://firstapp-guru.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>